<h1>Hotel - Strona Glowna</h1> 
<%= link_to "Zarządzaj użytkownikami", users_path %><br />
<%= link_to "Zarządzaj pokojami", rooms_path %><br />
<%= link_to "Zarządzaj rezerwacjami", reservations_path %><br />